#plot_select_area
  ol#sel_project
    //li.ui-widget-content PRJ 1
    //li.ui-widget-content PRJ 2
  ol#sel_sample
    //li.ui-widget-content Sample 1
    //li.ui-widget-content Sample 2
  ol#sel_plot
    //li.ui-widget-content Plot 1
    //li.ui-widget-content Plot 2

#plots_area
