div#app
  div#input_area
    div#input_text
      //button(id="hidr") hide
      //button(id="showr") show
      input(name='input_lib')
    div#loading_image
      img(src='images/ajax-loader.gif')
  div#results
