!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Slackey')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/input.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-git.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    - if (js_file)
      |<script type="text/javascript" src="/javascripts/#{js_file}.js"></script>
  body
    #header
      #logo
        | BioNode 
      #links
        <a href="/verify_lib">bams</a> | <a href="/new_project">recipes</a>
    #content
      != body
