!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Slackey')
    //link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/input.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.8.13.custom.css')

    script(type='text/javascript', src='/javascripts/jquery-1.6.1.min.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.13.custom.min.js')
    script(type='text/javascript', src='/javascripts/jquery.flot.js')
    - if (js_file)
      |<script type="text/javascript" src="/javascripts/#{js_file}.js"></script>
  body
      |<a href="http://github.com/drio/bio.node">
      |<img style="position:absolute;top:0;right:0;border:0;"
      |width="109" height="109" src="images/forkme.png" alt="Fork me on GitHub"/></a> 
    #header
      #logo
        a(href='https://github.com/drio/bio.node') BioNode
      #links
        <a href="/verify_lib">data</a> |
        <a href="/new_project">recipes</a> |
        <a href="/browse_plots">browse</a>
    #content
      != body
