!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Slackey')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/input.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.1.min.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    - if (js_file)
      |<script type="text/javascript" src="/javascripts/#{js_file}.js"></script>
  body
    #header
      #logo
        a(href='https://github.com/drio/bio.node') BioNode
      #links
        <a href="/verify_lib">data</a> |
        <a href="/new_project">recipes</a> |
        <a href="/browse_plots">browse</a>
    #content
      != body
