#np_execute
  | <button name="b_np_execute" class="execute_button">run</button>
div.spacer
#np_log
  | LOG here!!!!!
  | 22 asdfadf <br>
h3 Project name 
  input(name='np_input_pname', size=30)
h3 Sample name  
  input(name='np_input_sname', size=30)
#np_lib_container
  #np_add_button
    | <button name="b_np_new_lib">new library</button>
  div.spacer
  #np_libs
    //div.spacer 
    //| one <button name="b_np_new_lib">delete</button>
    //div.spacer 
    //| two <button name="b_np_new_lib">delete</button>
