* { 
	margin:0; padding:0.5%; 
}
			
body { 
	font-family: Arial, Helvetica;
	/*background: #c4c4c5 url('images/background.png') top left repeat-x;*/
	text-align: center;
	color: #222222;
	text-shadow: 0px 1px 0px #fff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 1%;
	margin:0; padding:0%; 
}

#header {
  /*
	margin:0; padding:0%; 
  //color: #3399FF;
  */
	width: 100%;
	text-align: left;
	letter-spacing: 0px;
	font-weight: bold;
  font-family: Arial;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#FFFFFF;
  border:0px solid #3399FF;
  padding:2px 2px 2 2px;
  /* margin-bottom:10px;*/
}

  #logo {
    display: inline-block;
	  text-align: left;
    font-family: 'Slackey', Arial;
    font-size: 35px;
  }

  #links {
    display: inline-block;
	  text-align: left;
	  width: 40%;
    font-size: 14px;
  }

#content {
	width: 100%;
}

#results {
	text-align: left;
	font-family: verdana,Helvetica;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0px;
}

label {
	display: inline-block;
	width: 7em;
}

.select {
  display: inline-block;
  padding: 2px;
}

input {
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
	background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow:  1px 1px 0px #efefef;
}

input.image-sprites {
	padding: 4px 1px 4px 6px;
	height: 27px;
	width: 390px;
	outline: none;
	background: url('images/input.png') top center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

input.image-sprites:focus {
	background: url('images/input.png') bottom center no-repeat;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	height: 27px;
}
	
input.fail {
	-webkit-box-shadow: 0px 0px 5px #ff4848;
	-moz-box-shadow: 0px 0px 5px #ff4848;
	box-shadow: 0px 0px 5px #ff4848;
}
	
input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

a, a:visited {
	color: #000;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}

a:hover {
	border-bottom: 1px dotted #fff;
}

.red {
  color: #FF0000;
}

/* New project stuff */
#np_lib_container {
 	border: 0px dashed #447733;
}

#np_add_button {
 	border: 0px solid #FF0000;
}

#np_libs {
 	border: 0px solid #FF99CC;
}

.spacer {
  clear: both;
	margin:0; padding:2px; 
  border:0px solid #00AA21;
}

#np_log {
	font-family: Helvetica;
	background-color: #000000;
	text-align: left;
	color: #FFFFFF;
	text-shadow: none;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	margin-top: 0%;
  border: 0px dashed #AA2211;
	width: 98%;
}

button {
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:2px solid #dedede;
    border-top:2px solid #eee;
    border-left:2px solid #eee;    
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:40%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px 2px 2px 2px; /* Links */
}

#np_execute {
	text-align:right;
}

.execute_button {
  font-size:80%;
  font-weight:normal;
}

.align_left {
	text-align: left;
}

#plot_select_area {
 /*
	margin:0; padding:0%; 
  //color: #3399FF;
  */
  font: 40.5% "Trebuchet MS", sans-serif; 
  margin: 5px;
	width: 95%
	text-align: left;
	letter-spacing: 0px;
	font-weight: bold;
  font-family: Arial;
  background-color:#FFFFFF;
  border:0px solid #3399FF;
  padding:2px 2px 2px 2px;
}

#plots_area {
	width: 98%;
	text-align: left;
	letter-spacing: 0px;
	font-weight: bold;
  font-family: Arial;
  background-color:#FFFFFF;
  border:0px solid #3399FF;
  padding:2px 2px 2px 2px;
}

/* plotting ui */
#sel_project .ui-selecting { background: #FECA40; }
#sel_project .ui-selected { background: #F39814; color: white; }
#sel_project { list-style-type: none; margin: 0; padding: 0; width: 30%; display:inline-block; }
#sel_project li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#sel_sample .ui-selecting { background: #FECA40; }
#sel_sample .ui-selected { background: #F39814; color: white; }
#sel_sample { list-style-type: none; margin: 0; padding: 0; width: 30%; display:inline-block;}
#sel_sample li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#sel_plot .ui-selecting { background: #FECA40; }
#sel_plot .ui-selected { background: #F39814; color: white; }
#sel_plot { list-style-type: none; margin: 0; padding: 0; width: 30%; display:inline-block;}
#sel_plot li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
