a {
  color: #00B7FF;
}

div { color:black; } 

img { 
  padding:1px; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 1.3;
  color: #AA22AA;
  position: relative;
  padding: 0 10px;
}

#input_text {
padding: 10px 10px;
}

#results {
padding: 10px 10px;
}

